@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --color0: #91CCEC;
    --color1: #8AF7E2;
    --color2: #78CED6;
    --color3: #fe9d4df1;
    --color4: #789CD6;
    --color5: #38fa75;
    --color6: #78D6D5;
    --color7: #004977;
    --font1: 'Merienda', cursive;
    --font2: 'Quicksand', sans-serif;
}

body{
    background-image: linear-gradient(to bottom, var(--color0), var(--color2), var(--color1));
    background-color: var(--color0);
    font: normal 15pt Arial;
    margin: 10px;
    width: auto;
    min-height: 1200px;
    padding-top:50px;
}
header{
    background: var(--color3);
    color:white;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 12px;
    font-family: var(--font1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.279);
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 1px;
}
header > h1{
    padding: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
}
section{
    max-width: 1000px;
    min-width: 300px;
    background: white;
    border-radius: 0px 0px 10px 10px;
    padding: 12px;
    padding-top: 18px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.279);
    font-family: var(--font2);
    font-size: 23px;
    height: auto;
}
input[type=button]{
    padding: 2px;
    border-radius: 4px;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.244);
    border: none;
    font-family: var(--font2);
    font-size: 15pt;
    height: 35px;
    width: 90px;
    box-sizing: border-box;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
}
input[type=button]:hover{
    background-color: var(--color5);
    color: white;
}
input[value=Search]{
    background-color: rgba(149, 144, 144, 0.534);
}
input:invalid ~ span::after{
    content:"✖";
    padding-left: 5px;
    position:absolute;
}
input:valid ~ span::after{
    content: "✅";
    padding-left: 5px;
    position:absolute;
}
input[value=Details]{
    background-color:rgba(225, 236, 74, 0.5);
}
input[value=Edit]{
    background-color:rgba(120, 206, 214, 0.5)
}
input[value=Delete]{
    background-color: rgba(255, 0, 0, 0.5);
}
