@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



:root {
    --color0: #91CCEC;
    --color1: #8AF7E2;
    --color2: #78CED6;
    --color3: #fe9d4df1;
    --color4: #789CD6;
    --color5: #38fa75;
    --color6: #78D6D5;
    --color7: #004977;
    --font1: 'Merienda', cursive;
    --font2: 'Quicksand', sans-serif;
    --fa-primary-color: white;
    --fa-secondary-color: #789CD6;
}
* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, var(--color0), var(--color2), var(--color1));
    background-color: var(--color0);
    font: normal 15pt Arial;
    margin: 10px;
    width: auto;
    min-height: 1200px;
    padding-top: 50px;
}

header {
    background: var(--color3);
    color: white;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 12px;
    font-family: var(--font1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.279);
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 1px;
}

    header > h1 {
        padding: 2px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
    }

section {
    max-width: 1000px;
    min-width: 300px;
    background: white;
    border-radius: 0px 0px 10px 10px;
    padding: 12px;
    padding-top: 18px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.279);
    font-family: var(--font2);
    font-size: 23px;
    height: auto;
}

.container {
    border-radius: 4px;
    padding: 20px;
}

input[type=text], select{
    padding: 12px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.244);
    border: 1px solid rgba(83, 216, 237, 0.292);
    font-size: 17pt;
    font-family: var(--font2);
    width: 100%;
    resize: vertical;
}

label {
    padding: 12px 12px 0px;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[name=NumberPhone] {
    width: 62%;
    margin-right:6px;
}

select {
    width: 14%;
    min-width: 112px;
    font-size: 40px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.184);
    border: 2px solid rgba(83, 216, 237, 0.551);
    cursor: pointer;
    float: left;
    padding: 0px;
    
}

    select:hover {
        border: 5px solid var(--color6);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.250);
    }

input[value=Add] {
    background-color: #0cb24094;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    width: 20%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    font-size: 14pt;
    padding: 12px 12px;
    text-align: center;
    font-family: var(--font2);
    font-weight: bold;
    box-shadow: 0 5px rgba(0, 0, 0, 0.500);
    resize:vertical;
    padding-top:16px;
}

    input[value=Add]:hover {
        font-weight: bolder;
        background-color: var(--color5);
    }

    input[value=Add]:active {
        background-color: var(--color5);
        box-shadow: 0 5px rgba(0, 0, 0, 0.500);
        transform: translateY(4px);
    }

li {
    list-style-type: none;
    text-indent: -45px;
    max-width: 300px;
    min-width: 150px;
    border-radius: 25px;
    font-family: var(--font2);
    padding-left: 60px;
    height: 55px;
}

#Marker {
    transform: rotate(30deg);
    transform-origin: 1% 70%;
    font-size: 40px;
    padding: 1px;
    height: 6px;
    width: -1px;
}

.finish, .back {
    padding: 12px 20px;
    margin: 0px;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.244);
    font-size: 20pt;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: #789cd6ba;
    font-family: var(--font2);
    font-weight: bolder;
    transition: all 0.5s;
    color: white;
    float: right;
}

    .finish span, .back span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .finish span:after, .back span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .finish:hover span, .back:hover span {
        padding-right: 25px;
    }

        .finish:hover span:after, .back:hover span:after {
            opacity: 1;
            right: 0;
        }

    .finish:hover {
        background-color: var(--color4);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.280);
    }

.back {
    background-color: #fe9d4da4;
}

    .back:hover {
        background-color: var(--color3);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.280);
    }

footer {
    text-align: center;
    font-style: italic;
    padding: 10px;
    font-family: var(--font2);
    font-size: 23px;
}

    footer a {
        text-decoration: none;
        font-family: var(--font2);
        color: black;
    }

        footer a:hover {
            text-decoration: underline;
        }

@media screen and (max-width:600px) {
    .col-25, .col-75, .finish, .back {
        width: 100%;
        margin-top: 0px;
    }
    select{
        width:15%;
        min-width: 60px;
        padding: 0px;
        font-size:30px;
        padding-top:5px;
        padding-bottom:7px;
    }
    select:hover{
        border:none;
    }
    input[name=NumberPhone] {
        width: 57.5%;
        margin-right: 3px;
    }
    input[value=Add]{
        width:21%;
    }
}